/* Write your CSS here */
.repository-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto';
  background-color: #f8f8ff;
  border-radius: 16px;
  padding: 20px;
  margin: 15px;
  width: 80%;
}
@media (min-width: 768px) {
  .repository-item-container {
    width: 25%;
  }
}
.count-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 26px;
}
.count-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: flex-start;
  padding: 2px;
}
.avatar {
  width: 80px;
}
.repository-name {
  color: #e73959;
  font-size: 26px;
}
.count-image {
  width: 20px;
  margin-right: 10px;
}
.cont-text {
  color: #1e293b;
  font-size: 14px;
  font-weight: bold;
}
